html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background-color: #fafafa;
}

main {
    text-align: center;
    width: 90%;
    min-width: 300px;
    margin: auto;
    height: 1000px;
}

p {
    margin: 0;
}

footer {
    height: 300px;
}

#logo a {
    color: #4C43E0;
    font-weight: bold;
    font-size: 20px;
    box-shadow: none;
}

ul {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 6px;
    list-style: none;
    overflow: hidden;
    box-shadow: 0 1px 2px #0000003d;
}

ul li {
    float: left;
}

ul a {
    display: block;
    color: #000000;
    min-width: 80px;
    padding: 10px;
    margin: 0 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 1000px;
    transition: box-shadow 0.1s ease-in-out;
}

ul a:hover {
    box-shadow: 0 2px 4px #00000033;
}

#voltar_topo {
    display: block;
    visibility: hidden;
    border-radius: 1000px;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    background-color: #424242;
    box-shadow: 0 8px 16px #00000033;
    position: fixed;
    bottom: 20px;
    right: 25px;
}

.destaque {
    background-color: #4C43E0;
    color: #ffffff;
}

.botaolink {
    background-color: #ffffff;
    box-shadow: 3px 4px 4px #0000003d;
    display: block;
    color: #000000;
    min-width: 80px;
    padding: 10px;
    margin: 0 3px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 1000px;
    transition: background-color 0.1s ease;
}

.botaolink:hover {
    color: #ffffff;
    background-color: #4C43E0;
}

#cabecalho {
    width: 100%;
    height: 200px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#lugares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#lugares img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 60%;
    object-fit: cover;
}

#lugares div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 12px;
    border-radius: 8px;
    height: 320px;
    width: 30%;
    min-width: 290px;
    box-shadow: 0 8px 16px #00000033;
    transition: transform 0.2s;
}

#lugares div:hover {
    transform: scale(1.01);
}

#destinos .botaolink {
    box-shadow: 0 8px 16px #00000033;
    margin: 18px auto 18px auto;
    width: 20%;
}

#lugares h3,
#lugares p {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 5px;
}

#slides {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 420px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: ease 800ms;
}

#slides div {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 35%;
    background-color: #ffffffdf;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 8px 16px #00000033;
}

#slides h1 {
    font-size: 36px;
    margin-top: auto;
    margin-bottom: auto;
}

#slides h2 {
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
}

#legenda {
    font-weight: 500;
    padding: 8px;
    color: #ffffff;
    background-color: #4C43E0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0 0 0 auto;
}