/* Estilos Gerais */
html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    min-width: 340px;
    background-color: #fafafa;
}

/* Seções */
section {
    width: 90%;
    margin: 0 auto 20px auto;
}

/* Estilos de Texto */
h1,
h2,
h3,
h4,
h5,
p {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

mark {
    font-weight: 500;
    background-color: #4C43E0;
    color: #ffffff;
}

mark:hover {
    text-decoration: dotted underline;
}

/* Links Simples */
.link_simples {
    text-align: center;
    color: #4C43E0;
    text-decoration: none;
}

.link_simples:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    color: #ffffff;
    background-color: #4C43E0;
}

/* Acesso Rápido */
.acesso_rapido {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ffffff;
}

/* Seção de Links */
.secao_link {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

.secao_link a {
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.secao_link a:hover {
    text-decoration: underline;
}

.secao_link li:first-child a {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Estilos de Cartões */
.container_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_card .card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding-bottom: 10px;
    border-radius: 8px;
    min-height: 300px;
    max-width: 350px;
    min-width: 300px;
    box-shadow: 0 8px 16px #00000033;
    transition: transform 0.2s;
}

.container_card .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 65%;
    object-fit: cover;
}

.container_card h3,
.container_card p {
    padding: 5px;
    margin: auto;
}

.container_card .card:hover {
    transform: scale(1.01);
}

/* Menu */
.menu {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 6px;
    list-style: none;
    overflow: hidden;
    box-shadow: 0 4px 5px #00000033;
}

.menu li {
    margin: 0 3px;
}

.menu a {
    display: block;
    color: #000000;
    min-width: 80px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 100px;
    transition: box-shadow 0.1s ease-in-out;
}

.menu a:hover {
    box-shadow: 0 2px 4px #00000033;
}

.botao_link:hover,
input[type=button]:hover,
input[type=submit]:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #4C43E0;
}

/* Logo e Botão de Login */

#logo a {
    color: #4C43E0;
    font-weight: bold;
    font-size: 20px;
    box-shadow: none;
}

#botao_login {
    margin-left: auto;
}

#botao_login a {
    color: #ffffff;
    background-color: #4C43E0;
}

/* Botão de Voltar ao Topo */
#voltar_topo {
    display: block;
    visibility: hidden;
    border-radius: 1000px;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    background-color: #424242;
    box-shadow: 0 8px 16px #00000033;
    position: fixed;
    bottom: 20px;
    right: 25px;
}

/* Botões e Inputs */
.botao_link,
input[type=button],
input[type=submit] {
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    border: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px #00000033;
    display: block;
    color: #000000;
    width: fit-content;
    padding: 10px 25px;
    margin: 5px auto;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 100px;
    transition: background-color 0.1s ease;
}

.botao_link:hover,
input[type=button]:hover,
input[type=submit]:hover {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #4C43E0;
}

/* Slides */
#slides {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 420px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: ease 800ms;
}

#slides div {
    background-color: #ffffffe0;
    box-shadow: 0 8px 16px #00000033;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 35%;
    height: fit-content;
}

#slides div h1 {
    font-size: 38px;
}

#slides div h3 {
    font-weight: 500;
}

/* Legenda */
#legenda {
    text-align: start;
    font-weight: 500;
    padding: 8px;
    min-width: 180px;
    color: #ffffff;
    background-color: #4C43E0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0 0 0 auto;
}

/* Estilos Específicos */
#pacotes .container_card .card h2,
#servicos_inclusos .container_card .card h2 {
    font-size: 50px;
    color: #f8e324;
    margin: auto 0;
    display: inline;
}

#pacotes .container_card .card:last-child {
    flex-grow: 1;
}

.container_geral {
    background-color: #ffffff;
    box-shadow: 0 8px 16px #00000033;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
}

.container_geral .card_geral {
    display: flex;
    flex-direction: column;
}

.container_geral form #grupo_checkbox {
    text-align: center;
    width: 100%;
}

.container_geral form input[id=mensagem] {
    height: 60px;
}

/* Ícone e Botão do Menu */
#icone_titulo {
    text-align: center;
    font-size: 120px;
    color: #4C43E0;
    display: block;
    margin: auto auto 0 auto;
}

#botao_menu {
    box-shadow: none;
    font-size: 18px;
}

#mostrar_menu {
    display: none;
    margin-left: auto;
}

.container_geral form input[type=submit] {
    width: fit-content;
}

/* Inputs e Textareas */
input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea {
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px #00000033;
    border: 0;
}

input[type=checkbox],
input[type=radio] {
    accent-color: #4C43E0;
}

/* Relatos */
#relatos .container_card .card img {
    border-radius: 1000px;
    width: 55%;
    margin: 10px auto 0 auto;
}

#relatos .container_card .card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sobre h2,
#sobre p,
#sobre h4,
#sobre li {
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;
}

#sobre ul {
    margin: 5px auto;
    width: 80%;
}

.container_destaque {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.video {
    margin: 5px auto;
    width: 90%;
    max-width: 700px;
    height: 394px;
}

.container_destaque ol {
    padding-left: 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4C43E0;
    color: white;
}

@media(max-width: 900px) {
    section {
        width: 100%;
    }
}

@media(max-width: 730px) {
    .menu a {
        min-width: 55px;
    }

    #slides div {
        font-size: 20px;
        width: 100%;
        margin: auto;
        height: fit-content;
    }

    #slides div h1 {
        font-size: 36px;
    }

    #legenda {
        border-radius: 8px;
        margin: auto;
        width: 20%;
        text-align: center;
    }
}

@media(max-width: 620px) {

    .item_menu,
    #botao_login {
        margin: 5px;
        margin: 5px auto;
        width: 80%;
        display: none;
    }

    #mostrar_menu {
        display: list-item;
    }

    .acesso_rapido {
        display: block;
    }
}

@media(min-width: 620px) {

    .item_menu {
        display: list-item !important;
    }

    .menu {
        flex-direction: row !important;
    }
}